<div class="container-registrar">
    <form class="registrar-box" [formGroup]="formuser" (submit)="submit()">
        <h1 class="titulo">Registrar</h1>
        <div class="cont-prin">
            <!-- Datos personales -->
            <div class="cont-sec">
                <h3>Datos personales</h3>
                <label>Nombre:</label><input type="text" formControlName="nombre"><br>
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched) ">
                    <div class="mensaje" *ngIf="nombre.errors.required">
                        *El nombre es obligatorio
                    </div>
                    <div class="mensaje" *ngIf="nombre.errors.pattern">
                        *El nombre solo puede tener letras
                    </div>
                </div>
                <label>Apellidos:</label><input type="text" formControlName="apellidos"><br>
                <div *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched) ">
                    <div class="mensaje" *ngIf="apellidos.errors.required">
                        *Los apellidos son obligatorios
                    </div>
                    <div class="mensaje" *ngIf="apellidos.errors.pattern">
                        *Los apellidos solo pueden tener letras
                    </div>
                </div>
                <label>DNI:</label><input type="text" formControlName="dni"><br>
                <div *ngIf="dni.invalid && (dni.dirty || dni.touched) ">
                    <div class="mensaje" *ngIf="dni.errors.required">
                        *El DNI es obligatorio
                    </div>
                    <div class="mensaje" *ngIf="dni.errors.pattern">
                        *El DNI tiene 8 dígitos y 1 letra
                    </div>
                </div>
                <label>Telefono:</label><input type="text" formControlName="tlf"><br>
                <div *ngIf="tlf.invalid && (tlf.dirty || tlf.touched) ">
                    <div class="mensaje" *ngIf="tlf.errors.required">
                        *El teléfono es obligatorio
                    </div>
                    <div class="mensaje" *ngIf="tlf.errors.pattern">
                        *El teléfono tiene 9 dígitos
                    </div>
                </div>
            </div>
            
            <!-- Datos direccion -->
            <div class="cont-sec">
                <h3>Datos dirección</h3>
                <label>Direccion:</label><input type="text" formControlName="direccion"><br>
                <!-- <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched) ">
                    <div class="mensaje" *ngIf="direccion.errors.required">
                        *La dirección es obligatoria
                    </div>
                    <div class="mensaje" *ngIf="direccion.errors.pattern">
                        *La dirección no tiene el formato correcto
                    </div>
                </div> -->
                <label>Nº:</label><input type="text" formControlName="num_dir">
                <label>Piso:</label><input type="text" formControlName="piso_dir">
                <label>Nº piso:</label><input type="text" formControlName="numpiso_dir"><br>
                <label>Provincia:</label>
                <select formControlName="provincia" [(ngModel)]="seleccionado" #mySelect (change)='onOptionsSelected(mySelect.value)'>
                    <option *ngFor="let item of provincias" [value]="item.id_provincia">{{item.nombre}}</option>
                </select>
                <label>Localidad:</label>
                <select formControlName="poblacion" [(ngModel)]="seleccionado2"#mySelect2 (change)='onOptionsSelected2(mySelect2.value)'>
                    <option *ngFor="let item2 of poblaciones" [value]="item2.cp">{{item2.nombre}}, {{item2.cp}}</option>
                </select>
                <!-- <label>Provincia:</label><input type="text" formControlName="provincia" disabled="true"><br> -->
                <label>CP:</label><input *ngIf="cp != null" type="text" formControlName="cp" disabled="true" value="{{cp}}"><br>
            </div>
            
            <!-- Datos cuenta -->
            <div class="cont-sec">
                <h3>Datos cuenta</h3>
                <label>Email:</label><input type="text" formControlName="email"><br>
                <div class="mensaje" *ngIf="email.invalid && (email.dirty || email.touched) ">
                    <div *ngIf="email.errors.required">
                        *El email es obligatorio
                    </div>
                    <div class="mensaje" *ngIf="email.errors.pattern">
                        *El email tiene que cumplir unos requisitos
                    </div>
                </div>
                <label>Imagen de perfil:</label><input type="file" formControlName="imagen"><br>
                <label>Contraseña:</label><input type="text" formControlName="password1"><br>
                <div *ngIf="password1.invalid && (password1.dirty || password1.touched) ">
                    <div class="mensaje" *ngIf="password1.errors.required">
                        *La contraseña es obligatoria
                    </div>
                    <div class="mensaje" *ngIf="password1.errors.minlength">
                        *La contraseña tiene que tener más de 4 caracteres
                    </div>
                </div>
                <label>Repite la contraseña:</label><input type="text" formControlName="password2"><br>
                <div *ngIf="password2.invalid && (password2.dirty || password2.touched) ">
                    <div *ngIf="password2.errors.mustMatch">
                        *La contraseña no coincide
                    </div>
                    <div class="mensaje" *ngIf="password2.errors.required">
                        *La contraseña es obligatoria
                    </div>
                </div>
            </div>

            <!-- Botones -->
            <div class="div-btns">
                <button class="btn" type="submit"  [disabled]="!formuser.valid">Aceptar</button><br>
                <a routerLink="/login" href="#"><button class="btn" type="button">Cancelar</button></a>
            </div>
        </div>
    </form>
    <!-- <a routerLink="/user" href="#"><button class="btn" type="button">USER</button></a>
    <a routerLink="/registrar" href="#"><button class="btn" type="button">REGISTRAR</button></a> -->
</div>
