<div class="container-registrar">
    <form class="registrar-box" [formGroup]="formuser" (submit)="submit()">
        <h1 class="titulo">Registrar</h1>
        <div class="cont-prin">
            <!-- Datos personales -->
            <div class="cont-sec">
                <h3>Datos personales</h3>
                <label>Nombre:</label><input type="text" formControlName="nombre"><br>
                <label>Apellidos:</label><input type="text" formControlName="apellidos"><br>
                <label>DNI:</label><input type="text" formControlName="dni"><br>
                <label>Telefono:</label><input type="text" formControlName="telefono"><br>
            </div>
            
            <!-- Datos direccion -->
            <div class="cont-sec">
                <h3>Datos dirección</h3>
                <label>Direccion:</label><input type="text" formControlName="direccion"><br>
                <label>Localidad:</label>
                <select formControlName="poblacion" [(ngModel)]="seleccionado">
                    <option *ngFor="let item of poblaciones" [value]="item">{{item}}</option>
                </select>
                <label>Provincia:</label><input type="text" formControlName="provincia" disabled="true"><br>
                <label>CP:</label><input type="text" formControlName="cp" disabled="true"><br>
            </div>
            
            <!-- Datos cuenta -->
            <div class="cont-sec">
                <h3>Datos cuenta</h3>
                <label>Email:</label><input type="text" formControlName="email"><br>
                <label>Imagen de perfil:</label><input type="file" formControlName="imagen"><br>
                <label>Contraseña:</label><input type="text" formControlName="password1"><br>
                <label>Repite la contraseña:</label><input type="text" formControlName="password2"><br>
            </div>

            <!-- Botones -->
            <div class="div-btns">
                <button class="btn" type="submit"  [disabled]="!formuser.valid">Aceptar</button><br>
                <a routerLink="/login" href="#"><button class="btn" type="button">Cancelar</button></a>
            </div>
        </div>
    </form>
    <!-- <a routerLink="/user" href="#"><button class="btn" type="button">USER</button></a>
    <a routerLink="/registrar" href="#"><button class="btn" type="button">REGISTRAR</button></a> -->
</div>
