.btn {
    width: 100%;
    background: #01c0ae;
    border: 4px solid #013631;
    color: white;
    font-family: fantasy;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    margin: 12px 0;
    position: relative;
}