<div class="contenedor_leerusuarios">
    <div class="fichausuario">
     
        <form [formGroup]="formmodelo" (submit)="submit()">
            Nombre: <input type="text" formControlName="nombre">
            Modelo: <input type="text" formControlName="modelo">
            <select formControlName="marca" [(ngModel)]="seleccionado" #mySelect (change)='onOptionsSelected(mySelect.value)'>
                <option *ngFor="let item of marca" [value]="item.marca">{{item.nombre}}</option>
            </select>
            <button type="submit">Crear</button>
        </form>

        <div class="contenedor_tabla">
            <div class="titulo">
                <h1>Listado de Modelos</h1>
            </div>
            <div class="filaencabezados">
                <div class="tid">Id</div>
                <div class="tnombre">Nombre</div>
                <div class="tmodelo">Modelo</div>
            </div>
            <div class="filadatos">
                <div class="datosusuario" *ngFor="let model of modelos">

                    <div>
                        {{model.id_modelo}}
                    </div>
                    <div>
                        {{model.nombre}}
                    </div>
                    <div>
                        {{model.modelo}}
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>