<div class="contenedor">
    <div class="fichausuario">
        <div class="crear">
            <div class="enun">
                <h3 class="titu">Crear Modelo</h3>
            </div>
            <div class="formu">
                <form [formGroup]="formmodelo" (submit)="submit()">
                    <label class="lab"> Nombre:</label> <input type="text" formControlName="nombre"><br>
                    <label class="lab"> Modelo:</label> <input type="text" formControlName="modelo"><br>
                    <label class="lab">Marca:</label><select formControlName="id_marca" [(ngModel)]="seleccionado">
                        <option *ngFor="let item of marcas" [value]="item.id_marca">{{item.nombre}}</option>
                    </select><br>
                    <button type="submit">Crear</button>
                </form>
            </div>
        </div>
        <div class="filtrar">
            <div class="enun">
                <h3 class="titu">Filtrar Modelo</h3>
            </div>
            <div class="formu">
                <form [formGroup]="filtrarM" (change)="submit2()">
                    <label class="lab">Marca:</label><select formControlName="id_marca2" [(ngModel)]="seleccionado2">
                        <option *ngFor="let item of marcas"  [value]="item.id_marca">{{item.nombre}}</option>
                    </select><br>
                </form>
            </div>
        </div>
    </div>

    <div class="tabla">
        <div class="titulo">
            <h1>Listado de Modelos</h1>
        </div>
        <div class="filaencabezados">
            <div class="tid">Id</div>
            <div class="tnombre">Nombre</div>
            <div class="tmodelo">Modelo</div>
        </div>
        <div class="filadatos">
            <div class="datosusuario" *ngFor="let model of modelos">

                <div>
                    {{model.id_modelo}}
                </div>
                <div>
                    {{model.nombre}}
                </div>
                <div>
                    {{model.modelo}}
                </div>

            </div>

        </div>

    </div>
</div>