<div class="contenedor">
    <div class="fichausuario">
        <div class="crear">
            <div class="enun">
                <h3 class="titu">Crear Tipo Reparacion</h3>
            </div>
            <div class="formu">
                <form [formGroup]="formRep" (submit)="submit()" class="formular">
                   <label class="lab"> Nombre:</label> <input type="text" formControlName="nombre"><br>
                   <label class="lab"> Precio:</label> <input type="text" formControlName="precio"><br>
                    <button type="submit">Crear</button>
                </form>
            </div>
        </div>
        <div class="filtrar">
            <div class="enun">
                <h3 class=titu>Filtrar Tipo Reparacion</h3>
            </div>
            <div class="formu">
                <form [formGroup]="filtrarRep" (submit)="submit2()">
                    <label class="lab">Nombre:</label> <input type="text" formControlName="nombre"><br>
                    <button type="submit">Crear</button>
                </form>
            </div>
        </div>
    </div>
    <div class="tabla">
        <div class="titulo">
            <h1>Listado de Reparaciones</h1>
        </div>
        <div class="filaencabezados">
            <div class="tid">Id</div>
            <div class="tnombre">Nombre</div>
            <div class="tmodelo">Precio</div>
        </div>
        <div class="filadatos">
            <div class="datosusuario" *ngFor="let repair of tipoReparacion ">

                <div>
                    {{repair.id_reparacion}}
                </div>
                <div>
                    {{repair.nombre}}
                </div>
                <div>
                    {{repair.precio_reparacion}}
                </div>

            </div>

        </div>

    </div>
</div>
