.contenedor{
  width:100%;
  height: 100%;
  display:grid; 
  justify-items: center; 
  grid-template-columns:2fr 10fr 2fr;
  grid-template-rows:1.5fr 10fr ;
  grid-template-areas:". fichausuario ."
                      ". tabla ."
}
.fichausuario{
  width:100%;
  grid-area:fichausuario;
  display: grid;
  grid-template-columns:6fr 6fr;
  grid-template-areas:"crear filtrar"
}
.crear{
  display:grid;
  grid-template-rows: 2fr 3.5fr;
  grid-template-areas: "enun"
                        "formu";

  grid-area:crear;

}
.enun{
  grid-area:enun;
  display:flex;
  justify-content: space-around;
  align-items: center;

}
.formu{
  grid-area:formu;
  display:flex;
  flex-direction: column;
  text-align: center;
  
  
}
.lab{
  width:4rem;
  text-align: right;
}
.titu{
  color:#01c0ae;
}
.filtrar{
  display:grid;
  grid-template-rows: 2fr 4fr;
  grid-template-areas: "enun"
                        "formu";
  grid-area:filtrar;
 
}
.tabla{
    width:80%;
    display:grid;
    grid-area:tabla;
    grid-template-columns:12fr;
    grid-template-areas:"titulo"
                        "filaencabezados"
                        "datosusuario";

}
.titulo{
    grid-area:titulo;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color:grey;
    color:white;
}
.filaencabezados{
    grid-area:filaencabezados;
    display:grid;
    grid-template-columns:4fr 8fr;
    grid-template-areas:"tid tnombre tmodelo";
}
.tid{
    grid-area:tid;
    display:flex;
    justify-content:center;

}
.tnombre{
    grid-area:tnombre;
  display:flex;
  justify-content: center;

}
.tmodelo{
    grid-area:tmodelo;
    display:flex;
    justify-content: center;;

}

.datosusuario{
    grid-area:datosusuario;
    display:grid;
    grid-template-columns:4fr 8fr ;
    grid-auto-rows: auto;
    
}
.datosusuario:nth-child(odd){
  background-color:whitesmoke;
  text-align: center;
}

.datosusuario:nth-child(even){
    background-color:lightgrey;
  text-align: center;
}
.fo{
  width:100%;
}