<div class="contenedor">
    <div class="fichausuario">
        <div class="crear">
            <div class="enun">
                <h3 class="titu">Crear Marca</h3>
            </div>
            <div class="formu">
                <form [formGroup]="formmarc" (submit)="enviar()" class="fo">
                    Nueva Marca: <input type="text" formControlName="nombre"><br>

                    <button type="submit">Crear</button>
                </form><br>
                <app-notifyadmin *ngIf="formmarc.errors" [message]="formmarc.errors.login"></app-notifyadmin>
            </div>
        </div>
        <div class="filtrar">
            <div class="enun">
                <h3 class="titu">Filtrar Marca</h3>
            </div>
            <div class="formu">
                <form [formGroup]="filtrarMarc" (keyup)="filter()" class="fo">
                    Marca: <input type="text" formControlName="marca"><br>
                </form>
                <app-notifyadmin *ngIf="filtrarMarc.errors" [message]="filtrarMarc.errors.login"></app-notifyadmin>
            </div>
        </div>
    </div>

    <div class="tabla">
        <div class="titulo">
            <h1>Listado de Marcas</h1>
        </div>
        <div class="filaencabezados">
            <div class="tid">Id</div>
            <div class="tnombre">Marca</div>
        </div>
        <div class="filadatos">
            <div class="datosusuario" *ngFor="let marc of marcas">

                <div>
                    {{marc.id_marca}}
                </div>
                <div>
                    {{marc.nombre}}
                </div>

            </div>

        </div>

    </div>
</div>