.plantilla{
    height: 100%;
    width: 100%;
}
.cabecera {
    height: 10%;
    width: 100%;
    background-color: red;
}

.cuerpo{
    height: 80%;
    width: 100%;
    background-color: rebeccapurple;
}

.pie {
    height: 10%;
    width: 100%;
    background-color: rosybrown;
}
