.container-login{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 5fr 3fr;
    grid-template-rows: 3fr 5fr 3fr;
    grid-template-areas: "espacio1 espacio1 espacio1"
                            "espacio2 login espacio3"
                            "espacio4 espacio4 espacio4";
    align-items: center;
    justify-content: center;
}

.login-box {
    grid-area: login;
}  

.div-img {
    display: flex;
    align-content: center;
    justify-content: center;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;   
    border-bottom: 1px solid #01c0ae;
}

.textbox input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    width: 100px;
    float: left;
    margin: 0 10px;
}

.btn {
    width: 100%;
    background: #01c0ae;
    border: 4px solid #013631;
    color: white;
    font-family: fantasy;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    margin: 12px 0;
    position: relative;
}

.mensaje {
    color: red;
    font-size: small;
}