<div class="container-login">
    <form [formGroup]="formlogin" (submit)="submit()" class="login-box">
        <div class="div-img">
            <img class="img-log"  src="../../../assets/logoLogin.png" alt="">
        </div>
        <div class="textbox">
            <input type="text" class="txt_log" formControlName="email" placeholder="Email">
        </div>
        <div class="mensaje" *ngIf="email.invalid && (email.dirty || email.touched) ">
            <div *ngIf="email.errors.required">
                *El email es obligatorio
            </div>
            <div class="mensaje" *ngIf="email.errors.pattern">
                *El email no tiene el formato correcto
            </div>
        </div>
        <div class="textbox">
            <input type="password" class="txt_log" formControlName="password" placeholder="Password">
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched) ">
            <div class="mensaje" *ngIf="password.errors.required">
                *La contraseña es obligatoria
            </div>
            <div class="mensaje" *ngIf="password.errors.minlength">
                *La contraseña tiene que tener más de 4 caracteres
            </div>
        </div>
        <div class="div-btns">
            <app-notify *ngIf="formlogin.errors" [message]="formlogin.errors.login"></app-notify>
            <button class="btn" type="submit" [disabled]="!formlogin.valid">ENTRAR</button><br>
            <a routerLink="/registrar" href="#"><button class="btn" type="button">REGISTRAR</button></a>
            <a routerLink="/user" href="#"><button class="btn2" (click)="signInWithGoogle()" type="button">LOGIN CON GOOGLE</button></a>
            <!-- <a routerLink="/user" href="#"><button class="btn" (click)="signInWithFB()" type="button">LOGIN CON FACEBOOK</button></a> -->
        </div>
       
    </form>

    <!-- <a routerLink="/user" routerLinkActive="router-link-active" href="#"><button class="btn" type="button">USER</button></a>
    <a routerLink="/admin" routerLinkActive="router-link-active" href="#"><button class="btn" type="button">ADMIN</button></a>
    <a routerLink="/registrar" href="#"><button class="btn" type="button">REGISTRAR</button></a> -->
</div>
