<div class="container-login">
    <!-- <form class="login-box" [hidden]="loading" [formGroup]="loginForm" (ngSubmit)="enviarFormulario()">
        <div class="div-img">
            <img class="img-log"  src="../../../assets/thephoneplanet.png" alt="">
        </div>
        <div class="textbox">
            <input type="text" formControlName="user" placeholder="User">
        </div>
        <div class="textbox">
            <input type="password" formControlName="pass" placeholder="Password">
        </div>
        <div class="div-btns">
            <button class="btn" type="submit">ENTRAR</button><br>
            <a routerLink="/registrar" href="#"><button class="btn" type="button">REGISTRAR</button></a>
        </div>
    </form> -->
    <a routerLink="/user" href="#"><button class="btn" type="button">USER</button></a>
    <a routerLink="/registrar" href="#"><button class="btn" type="button">REGISTRAR</button></a>
</div>
